<header class="bg-white relative z-10">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex">
      <a routerLink="" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img
          class="h-8 w-auto"
          src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
          alt=""
        />
      </a>
    </div>
    <div class="flex md:ml-16">
      <a
        routerLink="products"
        class="text-sm font-semibold leading-6 text-gray-900 mr-4 lg:mr-6"
      >
        Products
      </a>
      <a
        routerLink="about"
        class="text-sm font-semibold leading-6 text-gray-900"
      >
        About
      </a>
    </div>
    <div class="flex justify-end">
      <a
        routerLink="cart"
        class="text-sm font-semibold leading-6 text-gray-900 relative inline-flex items-center p-1 text-center rounded-lg focus:outline-none"
      >
        <app-svg-icon name="cart" className="text-gray-900 w-6 h-6" />
        <div
          class="absolute inline-flex items-center justify-center w-5 h-5 text-[9px] font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -right-2"
          *ngIf="totalCarts"
        >
          {{ totalCarts }}
        </div>
      </a>
      <a
        routerLink="login"
        class="text-sm font-semibold leading-6 text-indigo-600 mr-4 ml-6"
        *ngIf="!isAuthenticated; else logout"
      >
        Login <span aria-hidden="true">→</span>
      </a>
      <ng-template #logout>
        <app-button
          variant="text"
          className="text-sm font-semibold leading-6 mr-4 ml-6"
          (onClick)="handleLogout()"
        >
          Logout <span aria-hidden="true">→</span>
        </app-button>
      </ng-template>
    </div>
  </nav>
</header>
