<div class="container px-4 lg:px-8 mx-auto">
  <h1 class="font-bold text-2xl">Collections</h1>
  <div
    class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
  >
    <ng-container *ngIf="!loading">
      <app-product *ngFor="let product of products" [product]="product" />
    </ng-container>

    <ng-container *ngIf="loading">
      <app-card *ngFor="let item of skeletonArray">
        <app-skeleton />
      </app-card>
    </ng-container>
  </div>
</div>
