<app-card>
  <a [routerLink]="['/products', product.id]">
    <div
      class="aspect-h-1 h-48 aspect-w-1 w-full bg-slate-50 overflow-hidden rounded-md lg:aspect-none group-hover:opacity-75"
    >
      <img
        [src]="product.thumbnail"
        alt="electronic item"
        class="h-full w-full object-contain object-center lg:h-full lg:w-full"
      />
    </div>
  </a>
  <div class="mt-4">
    <div class="flex justify-between">
      <h3 class="text-sm text-gray-700">
        <a [routerLink]="['/products', product.id]">
          {{ product.title }}
        </a>
      </h3>
      <p class="text-sm font-medium text-gray-900">
        ${{ product.price | numberFormatter }}
      </p>
    </div>
    <div class="flex justify-between">
      <p class="mt-2.5 text-sm text-gray-500 mr-1">{{ product.brand }}</p>
      <div class="flex items-center mt-2.5 mb-5">
        <svg
          aria-hidden="true"
          class="w-5 h-5 text-yellow-300"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          *ngFor="let item of ratingArray; let idx = index"
        >
          <title>{{ idx + 1 }} star</title>
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
          ></path>
        </svg>
        <span
          class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3"
        >
          {{ product.rating.toFixed(1) }}
        </span>
      </div>
    </div>
  </div>
  <div class="mt-2">
    <app-button className="w-full py-1.5" (onClick)="handleAddCart()">
      Add to cart
    </app-button>
  </div>
</app-card>
